@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flex-between {
        @apply flex justify-between items-center;
    }

    .router-link {
        @apply text-gray-800 hover:text-orange-700 p-3 cursor-pointer
    }

    .home-page-title {
        @apply text-gray-700 text-5xl font-bold
    }

    .home-page-semi-title {
        @apply text-gray-900 text-4xl font-bold
    }

    .home-page-details {
        @apply text-lg text-gray-700 my-5
    }

    .home-food-box {
        @apply flex-1 m-5 shadow rounded-xl shadow-orange-900
    }

    .delivery-box {
        @apply flex-1 w-full h-96 mx-5 flex flex-col items-center justify-end
    }

    .button {
        @apply bg-orange-700 text-white disabled:bg-orange-400 rounded-md hover:bg-orange-500 transition duration-200 ease-in text-lg md:text-xl py-2 px-3 md:py-3 md:px-4
    }

    .auth-box {
        @apply w-5/6 shadow-2xl shadow-slate-900 m-auto flex-between
    }

    .auth-img-box {
        @apply flex-1 overflow-hidden w-full h-full
    }

    .auth-title {
        @apply text-4xl md:text-5xl text-orange-600 font-bold mb-2
    }

    .auth-detail {
        @apply text-gray-600 font-semibold mb-8
    }

    .auth label {
        @apply block mt-4 font-semibold mb-1
    }

    .input {
        @apply border border-orange-200 rounded-md p-3 text-gray-900 placeholder:text-gray-400 focus:outline-none text-lg w-full
    }

    .error-message {
        @apply w-96 text-sm text-red-600 h-4 px-2
    }

    .password-icon {
        @apply w-8 text-orange-600 cursor-pointer
    }

    .add-edit-form label {
        @apply block mt-3 font-semibold text-lg
    }

    .add-edit-form button {
        @apply button flex items-center justify-center w-full mt-10
    }

    .upload-button {
        @apply w-8 border border-orange-600 p-1.5 text-orange-600 rounded-full cursor-pointer hover:bg-orange-600 hover:text-white transition duration-100 ease-in
    }

    .button-edit {
        @apply text-green-500 w-10 p-2 rounded-full hover:bg-orange-100 cursor-pointer
    }

    .button-delete {
        @apply text-red-500 w-10 p-2 rounded-full hover:bg-orange-100 cursor-pointer
    }

    .no-data {
        @apply flex justify-center font-bold text-gray-900 text-3xl p-10
    }

    .full-image {
        @apply w-full h-full object-cover
    }

    .uploaded-image {
        @apply rounded-xl full-image
    }

    .shimmer {
        @apply bg-gray-300 mb-3 mt-1 w-full rounded-md animate-pulse
    }

    .input-shimmer {
        @apply h-14 shimmer
    }

    .textarea-shimmer {
        @apply h-40 shimmer
    }

    .route-link {
        @apply text-orange-600 underline
    }

    .add-btn {
        @apply bg-orange-700 text-white disabled:bg-orange-400 rounded-md hover:bg-orange-500 transition duration-200 ease-in text-lg py-2 px-3 md:py-3 md:px-4 flex items-center
    }

    .add-btn svg {
        @apply w-8 mr-2
    }

    .remove-image {
        @apply absolute w-7 p-1 bg-red-500 hover:bg-red-600 cursor-pointer rounded-full -top-2 -right-2 text-white
    }

    .bg-screen {
        @apply w-screen h-screen bg-cover
    }
}

.auth {
    background: linear-gradient(to left, #ff915ac9, #ffae56c5, #ffc95ea8, #ffe056c8, #fffa70d8);
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #ffbf8a89;
}

::-webkit-scrollbar-thumb {
    background: #e08b4ec1;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff974d;
}